.background_before_login {
    position: relative;
    height: 800px;
    background: url(../images/top.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
}

.background_after_login {
    background-color: #fafafa;
    background-size: cover;
    
}

.description {
    color: #ffffff;
    padding-top: 50px;
}


.buttons {
    padding-top: 200px;
}

.error-message {
    margin-bottom: 0;
    border-radius: 0;
}

.center {
    margin-top: 50%;
}

.avater {
    height: 50px;
    Width: 50px;
}

.icon {
    font-size: 20px;
}