.background_before_login {
    position: relative;
    height: 100vh;
    background: url(../images/top.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
}

.background_after_login {
    background-color: #fffafa;
    background-size: cover;
}

.description {
    color: #ffffff;
    padding-top: 50px;
}


.buttons {
    padding-top: 200px;
}

.error-message {
    margin-bottom: 0;
    border-radius: 0;
}

.center {
    margin-top: 50%;
}

.avater {
    height: 50px;
    Width: 50px;
}

.icon-div {
    margin: 0 auto 1.3rem;
    width: 200px;
    height: 200px;
    border: 8px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.icon-image {
    object-fit: cover;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.image-roll {
    width: 100%;
    height: 350px;
    object-fit: cover;
}